<?xml version="1.0"?>
<!-- 
/**
 * Narvar Connect Admin Menu Configuration
 *
 * @category    Narvar
 * @package     Narvar_ConnectEE
 *
 * @author      premkumarsankar premkumar.sankar@aspiresys.com
 * @copyright   Copyright (c) 2012-2019 Narvar Inc
 * @license     http://opensource.org/licenses/osl-3.0.php  Open Software License (OSL 3.0)
 */
 -->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Backend:etc/menu.xsd">
    <menu>
        <add id="Narvar_ConnectEE::narvar_connectee"
             title="Narvar Connect"
             module="Narvar_ConnectEE"
             sortOrder="60"
             resource="Narvar_ConnectEE::narvar_connectee" />
             
        <add id="Narvar_ConnectEE::audit_log"
              title="Manage Audit Log"
              module="Narvar_ConnectEE"
              sortOrder="10" 
              action="narvar_connectee/audit_log"
              parent="Narvar_ConnectEE::narvar_connectee"
              resource="Narvar_ConnectEE::narvar_connectee" />
                 
		<add id="Narvar_ConnectEE::narvar_connectee_config"
              title="Narvar Configuration"
              module="Narvar_ConnectEE"
              sortOrder="20" 
              action="adminhtml/system_config/edit/section/narvar_connectee/"
              parent="Narvar_ConnectEE::narvar_connectee"
              resource="Narvar_ConnectEE::narvar_connectee" />
    </menu>
</config>