<?xml version="1.0" encoding="UTF-8"?>
<!-- 
/**
 * Narvar API Field Data type Configuration
 *
 * @category    Narvar
 * @package     Narvar_ConnectEE
 *
 * @author      premkumarsankar premkumar.sankar@aspiresys.com
 * @copyright   Copyright (c) 2012-2019 Narvar Inc
 * @license     http://opensource.org/licenses/osl-3.0.php  Open Software License (OSL 3.0)
 */
 -->
<config>
    <order>
        <order_number>
            <dataType>string</dataType>
        </order_number>
        <order_date>
            <dataType>datetime</dataType>
        </order_date>
        <status>
            <dataType>string</dataType>
        </status>
        <currency_code>
            <dataType>string</dataType>
        </currency_code>
        <is_shoprunner_eligible>
            <dataType>boolean</dataType>
        </is_shoprunner_eligible>
    </order>
    <customer>
        <customer_id>
            <dataType>string</dataType>
        </customer_id>
        <customer_type>
            <dataType>string</dataType>
        </customer_type>
        <notification_pref>
            <dataType>string</dataType>
        </notification_pref>
    </customer>
    <address>
        <email>
            <dataType>string</dataType>
        </email>
        <first_name>
            <dataType>string</dataType>
        </first_name>
        <last_name>
            <dataType>string</dataType>
        </last_name>
        <phone>
            <dataType>string</dataType>
        </phone>
        <city>
            <dataType>string</dataType>
        </city>
        <country>
            <dataType>string</dataType>
        </country>
        <state>
            <dataType>string</dataType>
        </state>
        <street_1>
            <dataType>string</dataType>
        </street_1>
        <street_2>
            <dataType>string</dataType>
        </street_2>
        <zip>
            <dataType>string</dataType>
        </zip>
    </address>
    <billing>
        <amount>
            <dataType>float</dataType>
        </amount>
        <tax_amount>
            <dataType>float</dataType>
        </tax_amount>
        <tax_rate>
            <dataType>float</dataType>
        </tax_rate>
        <shipping_handling>
            <dataType>float</dataType>
        </shipping_handling>
        <card>
            <dataType>float</dataType>
        </card>
        <is_gift_card>
            <dataType>boolean</dataType>
        </is_gift_card>
        <merchant>
            <dataType>float</dataType>
        </merchant>
        <method>
            <dataType>float</dataType>
        </method>
        <expiration_date>
            <dataType>float</dataType>
        </expiration_date>
    </billing>
    <order_items>
        <categories>
            <dataType>string</dataType>
        </categories>
        <description>
            <dataType>string</dataType>
        </description>
        <discount_amount>
            <dataType>float</dataType>
        </discount_amount>
        <discount_percent>
            <dataType>float</dataType>
        </discount_percent>
        <line_number>
            <dataType>string</dataType>
        </line_number>
        <fulfillment_status>
            <dataType>string</dataType>
        </fulfillment_status>
        <is_gift>
            <dataType>boolean</dataType>
        </is_gift>
        <item_id>
            <dataType>string</dataType>
        </item_id>
        <item_image>
            <dataType>string</dataType>
        </item_image>
        <item_url>
            <dataType>string</dataType>
        </item_url>
        <name>
            <dataType>string</dataType>
        </name>
        <quantity>
            <dataType>float</dataType>
        </quantity>
        <sku>
            <dataType>string</dataType>
        </sku>
        <unit_price>
            <dataType>float</dataType>
        </unit_price>
        <length>
            <dataType>float</dataType>
        </length>
        <width>
            <dataType>float</dataType>
        </width>
        <height>
            <dataType>float</dataType>
        </height>
        <weight>
            <dataType>float</dataType>
        </weight>
        <uom>
            <dataType>string</dataType>
        </uom>
        <weight_uom>
            <dataType>string</dataType>
        </weight_uom>
        <color>
            <dataType>string</dataType>
        </color>
        <color_id>
            <dataType>string</dataType>
        </color_id>
        <size>
            <dataType>string</dataType>
        </size>
        <size_id>
            <dataType>string</dataType>
        </size_id>
        <style>
            <dataType>string</dataType>
        </style>
        <weight>
            <dataType>string</dataType>
        </weight>
        <vendor>
            <dataType>string</dataType>
        </vendor>
        <final_sale_date>
            <dataType>string</dataType>
        </final_sale_date>
        <is_backordered>
            <dataType>boolean</dataType>
        </is_backordered>
        <is_final_sale>
            <dataType>boolean</dataType>
        </is_final_sale>
        <item_promise_date>
            <dataType>string</dataType>
        </item_promise_date>
    </order_items>
    <shipments>
        <ship_method>
            <dataType>string</dataType>
        </ship_method>
        <carrier>
            <dataType>string</dataType>
        </carrier>
        <carrier_service>
            <dataType>string</dataType>
        </carrier_service>
        <ship_source>
            <dataType>string</dataType>
        </ship_source>
        <sku>
            <dataType>string</dataType>
        </sku>
        <quantity>
            <dataType>float</dataType>
        </quantity>
        <ship_date>
            <dataType>datetime</dataType>
        </ship_date>
        <ship_discount>
            <dataType>float</dataType>
        </ship_discount>
        <ship_tax>
            <dataType>float</dataType>
        </ship_tax>
        <ship_total>
            <dataType>float</dataType>
        </ship_total>
        <tracking_number>
            <dataType>string</dataType>
        </tracking_number>
    </shipments>
    <rma>
        <rma_number>
            <dataType>string</dataType>
        </rma_number>
        <rma_date>
            <dataType>datetime</dataType>
        </rma_date>
        <rma_status>
            <dataType>string</dataType>
        </rma_status>
    </rma>
    <rma_items>
        <product_name>
            <dataType>string</dataType>
        </product_name>
        <product_sku>
            <dataType>string</dataType>
        </product_sku>
        <reason>
            <dataType>string</dataType>
        </reason>
        <resolution>
            <dataType>string</dataType>
        </resolution>
        <item_condition>
            <dataType>string</dataType>
        </item_condition>
        <qty_requested>
            <dataType>string</dataType>
        </qty_requested>
        <qty_returned>
            <dataType>string</dataType>
        </qty_returned>
        <qty_approved>
            <dataType>string</dataType>
        </qty_approved>
        <status>
            <dataType>string</dataType>
        </status>
    </rma_items>
</config>